<!DOCTYPE html>
<html>
<head>
  <title>GeoVis Dashboard</title>
  <link rel="stylesheet" href="./static/css/bootstrap.min.css"  crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/bootstrap-datetimepicker.min.css"  crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/jquery-ui.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/jquery-ui.structure.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/jquery-ui.theme.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/keen-dashboards.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/dc.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/dc-resizing.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/leaflet.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/custom.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/screen.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/MarkerCluster.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/MarkerCluster.Default.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/leaflet-search.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/L.Control.Locate.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/L.Control.Sidebar.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="navbar-header">
            <a class="navbar-brand" href="./">GeoVis - A Visualization and Analysis Tool for GeoFauna</a>
          </div>
        </div>
        <div class="col-sm-6">
          
            <div class="row">
              <div class="col-sm-6">
                <div class="nav navbar-nav navbar-right">
                  <div class="input-group" style="padding-top: 10px; padding-bottom: 10px;">
                    <!-- Single button Dropdown-->
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" id="toggle-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        States <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown-menu-nav">
                        <!-- Nav-filter-Menu-items -->
                      </ul>
                    </div>
                    <!-- Single button Dropdown-->
                    <input type="text" class="form-control" id="search">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" id="filter">Filter</button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </div>
              
              <div class="col-sm-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reportModal" style="margin-top: 10px; margin-bottom: 10px;">
                  Generate Report
                </button>
                <div class="nav navbar-nav navbar-right">
                  <a href="https://www.isro.gov.in/" target="_blank"><img class="logo" src="./static\css\images\isro-logo@2x.png" alt="ISRO-LOGO"></a>
                  <a href="https://zsi.gov.in/" target="_blank"><img class="logo" src="./static\css\images\zsi-logo@2x.png" alt="ZSI-LOGO"></a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Report Modal -->
  <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="reportModalLabel">Generate Report</h5>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Report Title</span>
            <input type="text" class="form-control" id="reportTitle" placeholder="Title" value="Geo-Vis Report" aria-describedby="basic-addon3">
          </div>
          <!-- <label class="checkbox-inline" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
            <input type="checkbox" value="" >Include Data Tables
          </label> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="printReport" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Generating Report">Print Report</button>
        </div>
      </div>
    </div>
  </div>

  <!-- container-fluid -->
  <div class="container-fluid">

    	<!-- Modal -->
      <div class="modal right fade" id="sidebar-right" tabindex="-1" role="dialog" aria-labelledby="sidebar-title">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="sidebar-title"></h4>
            </div>

            <div class="modal-body" id="sidebar-body">

              <div class="m-3" >
                <!--Image Carousel-->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="d-block w-100" src="static/css/images/placeholder_rectangle.png" alt="First slide" id="ImageAnimal">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Image Animal</p>
                        </div>
                    </div>
                    <div class="item">
                      <img class="d-block w-100" src="static/css/images/placeholder_rectangle.png" alt="Second slide" id="ImageHabitat">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Image Habitat</p>
                        </div>
                    </div>
                    <div class="item">
                      <img class="d-block w-100" src="static/css/images/placeholder_rectangle.png" alt="Third slide" id="ImageHost">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Image Host</p>
                        </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <!--Image Carousel-->
        
                <!-- Data -->
                <div id="data"></div>
            </div>

            </div>

          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->

    <div class="row">

      <!-- First View Page -->
      <!-- States-Map-dateSlider-Counter -->
      <div class="row">

        <div class="col-sm-2">
          <div class="row">

            <!-- Indian States -->
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <!-- Tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1">States</a></li>
                    <li><a data-toggle="tab" href="#tab2">District</a></li>
                  </ul>
                  <!-- Tabs -->
                  <!-- Tab-content -->
                  <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                      <div class="chart-stage" id="state-stage">
                        <div id="state-row-chart"></div>
                      </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                      <div class="chart-stage" id="district-stage">
                        <div id="district-row-chart" style="overflow-y: auto; height: 950px;"></div>
                      </div>
                    </div>
                  </div>                
                  <!-- Tab-content -->
              </div>
            </div>
            <!-- Indian States -->
          </div>
        </div>

        <div class="col-sm-10">

          <!-- Map Row -->
          <div class="row">
            <!-- Map -->  
            <div class="col-sm-12"> 
              <div class="chart-wrapper">
                <div class="chart-title">
                  Map
                  <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
                </div>
                <div class="chart-stage" id="map-stage">
                  <div id="map" style="width: auto; height: 520px"></div>
                </div>
              </div>
            </div>
            <!-- Map -->  
          </div>

          <!-- time-chart and counter Row -->
          <div class="row">

            <!-- Time Chart --> 
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  <div class="row therow" >
                    <div class='col-sm-7' id="datetitle">
                      <div class="row therow">
                        <div class='col-sm-6' id="datetitle">
                          <!-- Single button Dropdown-->
                          <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="toggle-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Order <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="dropdown-menu-3">
                              <li><a>Phylum</a></li>
                              <li><a>Class</a></li>
                              <li><a>Order</a></li>
                              <li><a>Family</a></li>
                              <li><a>Genus</a></li>
                            </ul>
                          </div>
                          <!-- Single button Dropdown-->
                        </div>
                        <div class='col-sm-6' id="number-records-nd">Number of Records: </div>
                      </div>
                    </div>
                    <!-- The date area -->
                    <div class="col-sm-5">
                      <div class="row therow">
                        <div class="container-fluid" style="padding: 0px;">
                          <div class="row therow">

                            <div class='col-sm-5' id='datestart'>
                              <div class="form-group">
                                <div class="input-group date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id='inputdatestart' size="14" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" /><br/>
                              </div>
                            </div>

                            <div class='col-sm-5' id='dateend'>
                              <div class="form-group">
                                <div class="input-group date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id='inputdateend' size="14" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" /><br/>
                              </div>
                            </div>

                            <div class="col-sm-2" id='dateend'>
                              <button class="btn btn-primary" type="button" id="filter_date_range">Filter</button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- The date area -->
                  </div>
                </div>
                <div class="chart-stage">
                  <div id="timeline-stage">
                    <div class="chart-stage">
                      <div id="dynamic-bar-chart" ></div>
                    </div>
                    <div class="chart-stage">
                      <div id="time-chart"></div>
                    </div>
                  </div>
                  <div class="chart-stage">
                    <div id="time-chart-overview"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Time Chart --> 
          </div>

        </div>  

      </div>
      <!-- First View Page -->


      <div class="row">
        
        <!-- Habitat <col> -->
        <!-- Habitat -->
        <div class="col-sm-3">
          <div class="chart-wrapper">
            <div class="chart-title">
              Habitat
              <span>
                <a class="reset"
                  href="javascript:habitatChart.filterAll();dc.redrawAll();"
                  style="display: none;">
                  reset
                </a>
              </span>
            </div>
            <div class="chart-stage" id="habitat-stage">
              <div id="habitat-row-chart"></div>
            </div>
          </div>
        </div>
        <!-- Habitat -->

        <div class="col-sm-3">

          <div  class="row">
            <!-- Entomofauna -->
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Entomofauna
                  <span>
                    <a class="reset"
                      href="javascript:entomofaunaChart.filterAll();dc.redrawAll();"
                      style="display: none;">
                      reset
                    </a>
                  </span>
                </div>
                <div class="chart-stage">
                  <div id="entomofauna-row-chart"></div>
                </div>
              </div>
            </div>
            </div>
            <!-- Entomofauna -->

            <!-- Other Invertebrate -->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Other Invertebrate
                    <span>
                      <a class="reset"
                        href="javascript:otherInvertebrateChart.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage">
                    <div id="other-invertebrate-row-chart"></div>
                  </div>
                </div>
              </div>
              </div>
              <!-- Other Invertebrate -->

            <!-- Vertebrate -->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Vertebrate
                    <span>
                      <a class="reset"
                        href="javascript:vertebrateChart.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage">
                    <div id="vertebrate-row-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Vertebrate -->

          </div>

          <div class="col-sm-3">

            <!-- Temperature -->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Temperature
                    <span>
                      <a class="reset"
                        href="javascript:temperatureChart.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage" id="temp-stage">
                    <div id="temperature-bar-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Temperature -->

            <!-- Humidity -->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Humidity
                    <span>
                      <a class="reset"
                        href="javascript:humidityChart.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage" id="humidity-stage">
                    <div id="humidity-bar-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Humidity -->

          </div>

          <div class="col-sm-3">

            <!-- Dynamic-Pie-Chart-1-->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    <!-- Single button Dropdown-->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="toggle-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phylum <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown-menu-1">
                        <!-- pieChart1 items -->
                      </ul>
                    </div>
                    <!-- Single button Dropdown-->
                    <span>
                      <a class="reset"
                        href="javascript:pieChart1.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage" id="pie-1-stage">
                    <div id="dynamic-pie-chart-1"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dynamic-Pie-Chart-1-->

            <!-- Dynamic-Pie-Chart-2 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    <!-- Single button Dropdown-->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="toggle-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Class  <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown-menu-2">
                        <!-- pieChart2 items -->
                      </ul>
                    </div>
                    <!-- Single button Dropdown-->
                    <span>
                      <a class="reset"
                        href="javascript:pieChart2.filterAll();dc.redrawAll();"
                        style="display: none;">
                        reset
                      </a>
                    </span>
                  </div>
                  <div class="chart-stage" id="pie-2-stage">
                    <div id="dynamic-pie-chart-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dynamic-Pie-Chart-2 -->

          </div>
          
        </div>

      </div>

    </div>
  <!-- container-fluid -->

  <hr>
 <p class="small text-muted">Developed by 
   <a href="https://www.nrsc.gov.in/aboutus_campus_nrscrc/rrsc_east?language_content_entity=en" target="_blank">
    Regional Remote Sensing Centre (RRSC)-East
  </a>
</p>
  <script src="./static/js/geojson.js" type="text/javascript"></script>
  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/js/jquery-ui.min.js"></script>
  <script src="./static/js/moment.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
  <script src="./static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="./static/js/underscore-min.js"></script>
  <script src="./static/js/crossfilter.js"></script>
  <script src="./static/js/d3.min.js"></script>
  <script src="./static/js/dc.min.js"></script>
  <script src="./static/js/dc-axis.js"></script>
  <script src="./static/js/dc-resizing.js"></script>
  <script src="./static/js/queue.js"></script>
  <script src="./static/js/leaflet.js"></script>
  <script src="./static/js/keen.min.js"></script>
  <script src="./static/js/leaflet.markercluster.js"></script>
  <script src="./static/js/leaflet-search.min.js"></script>
  <script src="./static/js/leaflet.smoothmarkerbouncing.js"></script>
  <script src="./static/js/L.Control.Locate.min.js"></script>
  <script src="./static/js/Control.FullScreen.js"></script>
  <script src="static/js/L.Control.Sidebar.js"></script>
  <script src="static/js/html2canvas.min.js"></script>
  <script src="static/js/dom-to-image.min.js"></script>
  <script src="static/js/jspdf.min.js"></script>
  <script src='./static/js/logo.js' type='text/javascript'></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>


</body>
</html>
